Repository tvaroglu/spot_me_frontend, pull requests merged in 2021-10, with the labels that each got.

#101 7 styling
  app/assets/stylesheets/application.css.scss
  app/views/events/new.html.erb
  app/views/users/edit.html.erb
  app/views/users/new.html.erb
  spec/features/events/new_spec.rb
  spec/features/users/edit_spec.rb
Labels: 1_MVP Feature, 0_Gyms, 0_Events, 0_UX Design

#102 Rerecord cassettes now that BE updates are merged into main
  app/poros/event.rb
  app/services/back_end_service.rb
  spec/facades/event_facade_spec.rb
  spec/features/events/new_spec.rb
  spec/features/users/edit_spec.rb
  spec/fixtures/vcr_cassettes/BackEndService/class_methods/_parse_json/returns_the_json_response_body.yml
  spec/fixtures/vcr_cassettes/EventFacade/_get_upcoming_events/when_the_user_does_not_have_any_events/can_return_an_empty_array.yml
  spec/fixtures/vcr_cassettes/EventFacade/_get_upcoming_events/when_the_user_has_events/can_return_an_array_of_the_user_s_workouts.yml
  spec/fixtures/vcr_cassettes/EventService/class_methods/_get_upcoming_events/when_the_user_does_not_exist/returns_an_error_hash.yml
  spec/fixtures/vcr_cassettes/EventService/class_methods/_get_upcoming_events/when_the_user_exists/returns_a_hash_with_the_user_s_upcoming_events.yml
  spec/fixtures/vcr_cassettes/EventService/class_methods/_get_upcoming_events/when_the_user_exists/returns_the_user_s_upcoming_events.yml
  spec/fixtures/vcr_cassettes/FriendshipFacade/_get_friends/when_the_user_does_not_have_any_friends/can_return_an_empty_array.yml
  spec/fixtures/vcr_cassettes/FriendshipFacade/_get_friends/when_the_user_has_friends/can_return_an_array_of_the_user_s_friends.yml
  spec/fixtures/vcr_cassettes/FriendshipService/class_methods/_add_friend/returns_a_hash_with_the_followed_user.yml
  spec/fixtures/vcr_cassettes/FriendshipService/class_methods/_add_friend_and_delete_friend/adds_and_deletes_a_friend.yml
  spec/fixtures/vcr_cassettes/FriendshipService/class_methods/_get_friends/returns_a_hash_with_the_user_s_friends.yml
  spec/fixtures/vcr_cassettes/FriendshipService/class_methods/_get_friends_at_gym/returns_a_hash_with_the_user_s_friends_at_the_gym.yml
  spec/fixtures/vcr_cassettes/FriendshipService/class_methods/_get_non_friends_at_gym/returns_a_hash_of_the_users_at_the_gym_who_the_user_is_not_following.yml
  spec/fixtures/vcr_cassettes/GymMembershipFacade/_get_gym_memberships/when_the_user_does_not_have_any_gyms/can_return_an_empty_array.yml
  spec/fixtures/vcr_cassettes/GymMembershipFacade/_get_gym_memberships/when_the_user_has_gyms/can_return_an_array_of_the_user_s_gyms.yml
  spec/fixtures/vcr_cassettes/GymMembershipService/class_methods/_create_gym_membership_and_delete_gym_membership/creates_and_deletes_a_gym_membership.yml
  spec/fixtures/vcr_cassettes/GymMembershipService/class_methods/_get_gym_memberships/returns_the_user_s_gym_memberships.yml
  spec/fixtures/vcr_cassettes/GymService/class_methods/_get_gym/returns_a_hash_of_a_given_gym_s_details.yml
  spec/fixtures/vcr_cassettes/GymService/class_methods/_get_gym_users/returns_a_hash_of_the_users_that_belong_to_a_given_gym.yml
  spec/fixtures/vcr_cassettes/GymService/class_methods/_get_gyms_near_user/returns_a_hash_of_the_gyms_near_a_given_zip_code.yml
  spec/fixtures/vcr_cassettes/UserService/class_methods/returns_a_hash_with_the_user_s_details.yml
  spec/fixtures/vcr_cassettes/edit_user_profile/can_click_on_the_link_from_the_current_user_s_profile_page_and_be_taken_to_the_edit_form.yml
  spec/fixtures/vcr_cassettes/edit_user_profile/can_fill_out_a_form_to_update_a_user_and_gives_a_flash_message_when_you_successfully_update_a_user.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_View_Profile_next_to_one_of_my_friends/displays_a_button_Remove_Friend_.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_View_Profile_next_to_one_of_my_friends/redirects_me_to_my_friends_profile_page.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_View_next_to_one_of_my_friends/displays_a_button_Remove_Friend_.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_View_next_to_one_of_my_friends/displays_a_button_Unfollow_.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_View_next_to_one_of_my_friends/redirects_me_to_my_friends_profile_page.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_one_of_my_friends_name/displays_a_button_Remove_Friend_.yml
  spec/fixtures/vcr_cassettes/experienced_user_dashboard/when_I_log_in_as_an_authenticated_user/when_I_visit_my_user_dashboard/when_I_click_on_one_of_my_friends_name/redirects_me_to_my_friends_profile_page.yml
  spec/fixtures/vcr_cassettes/gyms_near_me_page/can_find_gyms_near_me.yml
  spec/fixtures/vcr_cassettes/gyms_near_me_page/has_a_link_to_each_individual_gym.yml
  spec/fixtures/vcr_cassettes/user_profile_page_friend/when_I_log_in_as_an_authenticated_user/when_I_visit_my_friends_profile/can_remove_an_existing_friend.yml
  spec/fixtures/vcr_cassettes/user_profile_page_non-friend/when_I_log_in_as_an_authenticated_user/when_I_visit_a_non-friend_user_profile/can_add_a_new_friend.yml
  spec/poros/event_spec.rb
  spec/services/event_service_spec.rb
  spec/support/shared_contexts/features/experienced_user_shared_context.rb
Labels: 2_Bug

#103 8 endpoint integration
  app/assets/images/icons/basic_sheet_txt.svg
  app/assets/images/icons/basic_target.svg
  app/assets/stylesheets/application.css.scss
  app/controllers/events_controller.rb
  app/controllers/friendships_controller.rb
  app/controllers/users_controller.rb
  app/poros/event.rb
  app/poros/gym.rb
  app/views/dashboard/index.html.erb
  app/views/gyms/index.html.erb
  app/views/gyms/show.html.erb
  app/views/layouts/application.html.erb
  app/views/users/show.html.erb
  app/views/welcome/index.html.erb
  spec/features/events/new_spec.rb
  spec/features/gym_search/index_spec.rb
  spec/features/gym_search/show/show_member_spec.rb
  spec/features/gym_search/show/show_non_member_spec.rb
  spec/features/users/dashboard/experienced_user_spec.rb
  spec/features/users/dashboard/new_user_spec.rb
  spec/features/users/profile/profile_current_user_spec.rb
  spec/features/users/profile/profile_friend_spec.rb
  spec/features/users/profile/profile_non_friend_spec.rb
  spec/features/welcome/index_spec.rb
  spec/poros/event_spec.rb
  spec/poros/gym_spec.rb
  spec/support/shared_contexts/features/experienced_user_shared_context.rb
Labels: 1_MVP Feature, 0_Dashboards, 0_Gyms, 0_UX Design
